.grid {
	display: grid;
	grid-gap: 1.5em;
	grid-template-columns: 100%;

	@media only screen and (min-width: 600px) {
		grid-template-columns: calc( 50% - 1.5em ) 50%;
	}

	// @media only screen and (min-width: 1024px) {
	// 	grid-template-columns: calc( 25% - 1.5em ) calc( 25% - 1.5em ) calc( 25% - 1.5em ) 25%;
	// }
}
