header,
.site-header {
	background: $color__very-dark-gray;
	color: $color__white;
}

.site-header {
	padding-top: 2em;
}

.site-title {
	max-width: $width__container-thin;
	margin: 0 auto;
	@include font-size(2);
	@media only screen and (min-width: 560px) {
		@include font-size(2.625);
	}

	a {
		color: $color__white;
		text-decoration: none;
		font-family: $font__header;
	}
}

.page-title {
	padding-bottom: 2em;
	max-width: $width__container-thin;
	margin: 0 auto;
	@include font-size(1.375);
	@media only screen and (min-width: 560px) {
		@include font-size(1.625);
	}
}

.page-subheader {
	min-height: 2.375em;
	font-weight: normal;
	color: $color__green;
}
