.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.page-header {
	.page-title {
		margin: 0 0 2em 0;
		text-align: center;
	}
}

.page-subheader {
	min-height: 38px;
	font-weight: normal;
	color: $color__green;
}
